body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
  }

.header { 
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FAF8; 
    align-items: center;
}

h1 { 
    margin: 0;
}

.links { 
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.links a { 
    font-size: 18px;
    color: #E5E7Eb;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 10% 15%;
    gap: 50px;

}

#hero-large { 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-small { 
    font-size: 18px;
    color: #E5E7Eb;
    font-weight: lighter;
}

#hero-button { 
    background-color: #3882F6;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;

}

.info-heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes { 
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.boxes img { 
    width: 150px;
    height: 150px;
    border: 4px solid blue;
    border-radius: 12px;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-bottom: 10%;
}

.quote-section { 
    background-color: #E5E7EB;
    padding: 10% 15%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: right;
    font-weight: bolder;
    color: black;
    font-size: 24px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10% 0;

}

.cta { 
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 5% 10%;
    background-color: #3882F6;
    border-radius: 12px;
}

#cta-h { 
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-small { 
    margin-top: 0;
    font-size: 14px;
    color: #E5E7Eb;
    font-weight: lighter;
}

#cta-button {
    border: 2px solid;
    border-color: #F9FAF8;
    border-radius: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px 24px;
}

.footer { 
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 20px;
}